*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page{
    width: 1180px;
    height: 900px;
    background-color: #0d7587;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.box{
    width: 1000px;
    height: 720px;
    border-radius: 40px;
    background-color: #ffffff; 
}
/* .container{
    display: flex;
    flex-direction: column;
    background-color: papayawhip;
} */
.img{
    width: 303px;
    height: 400px;
    border-radius: 26px;
    margin: 50px 40px 40px 40px;
    /* border: 2px solid yellow; */
}
.parent{
    /* background-color: yellowgreen; */
    width: 210px;
    height: 80px;
    margin-left: 70px;
    margin-top: -20px;
}
.parent .item{
    width: 188px;
    font-size: 11px;
    font-family: 'Fira Sans';
}
.parent .item1{
    /* background-color: yellow; */
    width: 100px;
    font-size: 13px;
    font-family: 'Fira Sans';
   margin-left: 110px;
   margin-top: -80px;
   line-height: 20px;
   color: #717886;
}
/* .parent2{
    background-color: rebeccapurple;
    width: 322px;
    height: 239px;
    margin:  0 0px 422px 301px;
} */
.about{
    width: 260px;
    height: 192px;
    /* background-color: gray; */
    font-size: 14px;
    font-family: 'Fira Sans';
    color: #717886;
    margin-left: 390px;
    margin-top: -500px;
    line-height: 18px;
}
.about h2{
    /* background-color: blue; */
    line-height: 30px;
    font-size: 14px;
    color: #021335;
}
.info{
    position: absolute;
    width: 410px;
    height: 270px;
    top: 350px;
    background: #FF5216;
    /* border: 2px solid blue; */
    opacity: .7;
    border-radius: 17px;
    margin-top: 20px;
    line-height: 16px;
}
.about1{
    margin-left: 290px;
}
.info img {
    /* background-color: green; */
    position: absolute;
    width: 30px;
    height: 40px ;
    margin: 30px 30px;
    color: #ffffff;
}
.info p{
  /* background-color: greenyellow; */
   /* padding: 100px 30px 50px 30px; */
    font-size: 14px;
    font-family: 'Fira Sans';
    color: white;
    margin-top: 100px;
    margin-left: 40px;
}
.goals{
    /* background-color: palevioletred; */
    width: 250px;
    height: 190px;
    font-size: 14px;
    font-family: 'Fira Sans';
    color: #717886;
    margin-left: 710px;
    margin-top: -195px;
    line-height: 18px;
} 
.goals h2{
    /* background-color: blue; */
    line-height: 30px;
    font-size: 14px;
    color: #021335;    
}
.needs{
    /* background-color: powderblue; */
    width: 250px;
    height: 120px;
    font-size: 14px;
    margin-left: 710px;
    font-family: 'Fira Sans';
    color: #717886;
    line-height: 18px;
    margin-top: -10px;
}
.needs h2{
    /* background-color: blue; */
    line-height: 30px;
    font-size: 14px;
    color: #021335;   
}
.h{
    /* background-color: blue; */
    margin-left: 710px;
    width: 250px;
    line-height: 30px;
    font-size: 10px;
    font-family: 'Fira Sans';
    color: #021335;   
}
.point{
    /* background-color: purple; */
    width: 230px;
    height: 150px;
    margin-left: 730px;
    font-size: 14px;
    font-family: 'Fira Sans';
    color: #717886;
    line-height: 18px;
}
footer{
    /* background-color: aquamarine; */
    width: 720px;
    height: 105px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 14px;
    font-family: 'Fira Sans';
    color: #717886;
}
.personality h2{
    /* background-color: blue; */
    font-size: 14px;
    font-family: 'Fira Sans';
    line-height: 30px;
    color: #021335;   
}
.personality span{
    /* background-color: #0d7587; */
    font-size: 14px;
    font-family: 'Fira Sans';
    color: #717886;
}
.slider{
    /* background-color: plum; */
    width: 205px;
    height: 60px;
    word-spacing: 90px;    
}
.image1{
    /* background-color: red; */
    width: 198px;
    height: 11px;
}
.slider1{
    /* background-color: rebeccapurple; */
    width: 206px;
    height: 60px;
    margin-left: 260px;
    margin-top: -60px;
    word-spacing: 100px;
}
.span1{
    word-spacing: 3px;
}
.image2{
    /* background-color: red; */
    width: 198px;
    height: 11px;
}
.slider2{
    /* background-color: peru; */
    width: 205px;
    height: 60px;
    margin-left: 510px;
    margin-top: -60px;
    word-spacing: 110px;
}
.span2{
   word-spacing: 53px;
}
.span3{
    word-spacing: 3px;
 }
 .image3{
    /* background-color: red; */
    width: 198px;
    height: 11px;
}
.image4{
    /* background-color: yellow; */
    width: 200px;
    height: 169px;
    margin-left: 820px;
    margin-top: -110px;  
}
.image4 img{
    width: 180px;
}





